{% extends "network/layout.html" %}
{% load custom_tags %}

{% block head %}

{% endblock %}
{% block body %}

    <!-- <div id="toggle-posts" class="d-inline-flex">
        <button>Change</button>
    </div> -->

    {% if this_page == "foryou" %}
    <div class="box w-100 click-newpost">
        <div id="show-newpost-btn">
            <i id="newpost-icon" class="material-icons material-symbols-outlined md-36">add_circle</i> <span class="pl-2">New post</span> 
          </div>
    </div>

    <!-- <button id="show-newpost-btn" class="btn btn-primary w-25">Add new post</button> -->

        <div id="show-newpost" class="box mt-2">
                <div class="w-100">
                    <form method="POST" action="">
                        <div class="content-post">
                            <input hidden type="text" value={{csrf_token}} name="csrf_token" id="csrf_token">
                            <textarea maxlength="320" id="content-post" placeholder="Describe yourself here..." required></textarea>
                        </div>
                        <div style="text-align: right;" class="pt-2">
                            <button id="send-post" class="btn btn-outline-primary">Send</button>
                        </div>
                    </form>
                </div>
        </div>
    {% endif %}
    
    <div id="allposts-div" class="d-inline-flex flex-column w-100">
        {% for post in page.object_list %}
            <hr>
                {% if request.user == post.user %}
                    <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center">
                        <div class="edit w-100">
                            {% if post.edited %}
                                <span>edited</span>
                            {% else %}
                                <span></span>
                            {% endif %}
                            <i class="edit-icon material-icons material-symbols-outlined md-24">edit_note</i> 
                        </div>
                {% else %}
                        {% if post.edited %}
                            <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center">
                                <div class="edit w-100">
                                    <span>edited</span>
                                </div>
                        {% else %}
                            <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center pt-32">
                                <div class="edit w-100">
                                    <span></span>
                                </div>
                        {% endif %}
                {% endif %}
                <div class="w-100 d-inline-flex p-2 flex-row align-items-center">
                    <a href="/profile/{{post.user.username}}">
                        <div class="infos-post">
                            <div id="post-logo"><img src={{post.user.img_url}}/></div>
                            <span class="">{{post.user.username}}</span>
                        </div>
                    </a>
                    <div class="post-content p-3">
                        <p>{{post.content}}</p>
                    </div>
                </div>
                <div class="like w-100">
                    <span class="qtd_likes">
                        {% if qtd_likes|get_item:post.id > 0 %}
                            {{qtd_likes|get_item:post.id}}
                        {% endif %}
                    </span>
                    {% if post.id in liked_ids %}
                        <i class="like-icon material-icons material-symbols md-24">favorite</i>
                    {% else %}
                        <i class="like-icon material-icons material-symbols-outlined md-24">favorite</i>
                    {% endif %}
                </div>
                <span class="date-time">{{post.date_time}}</span>
            </div>
        
        {% empty %}
            <div class="not-yet">
                Not yet
            </div>
        {% endfor %}
        

        {% if page.has_previous or page.has_next %}
            <div class="page-links d-inline-flex flex-row justify-content-between box mt-3">
                {% if page.has_previous %}
                    <a href="/{{this_page}}?page={{page.previous_page_number}}" class="m-2">Previous</a>
                {% endif %}
                {% if page.has_next %}
                    <a href="/{{this_page}}?page={{page.next_page_number}}" class="m-2">Next</a>
                {% endif %}
            </div>
        {% endif %}
        <hr>
    </div>
    
{% endblock %}