{% extends "network/layout.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!----- DIV PROFILE ------> 
<div id="profile" class="d-inline-flex flex-column justify-content-center align-items-center pt-4">

    <!----- DIV HEADER PROFILE ------> 
    <div id="banner-profile" class="box" style="background-image: url('{{user.img_banner}}');"> 
    </div>
    <div id="infos-profile" class="box w-100 d-inline-flex flex-column align-items-center">
        <div id="profile-logo">
            {% if user.img_url != "" %}
                <img src={{user.img_url}}/>
            {% else %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"/>
            {% endif %}
        </div>
        <div class="">
            <h2>{{user.username}}</h2>
        </div>
        
        <div class="d-inline-flex flex-row justify-content-center w-100" id="stats-profile">  
            <h6>Posts: <span id="span-posts">{{qtd_posts}}</span></h6>
            <h6>Following: <span id="span-following">{{user.qtd_following}}</span></h6>
            <h6>Followers: <span id="span-followers">{{user.qtd_followers}}</span></h6>  
        </div>

        <div class="w-100 " style="text-align: center;">
            {{user.biography}}
        </div>
        
        <hr>

        {% if user == request.user %}
            <!----- DIV NEW POST ------> 
            <div class="w-100">
                <form method="POST" action="">
                    <input hidden value="{{csrf_token}}">
                    <div class="content-post">
                        <input hidden type="text" value={{csrf_token}} name="csrf_token" id="csrf_token">
                        <textarea maxlength="320" id="content-post" placeholder="Describe yourself here..." required></textarea>
                    </div>
                    <div style="text-align: center;" class="pt-2">
                        <button id="send-post" class="btn btn-outline-primary">Send</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="w-100">
                <div style="text-align: center;" class="pt-2">
                    {% if following != True %}
                        <button data-id={{user.id}} id="follow-btn" class="btn btn-outline-primary">Follow</button>
                    {% else %}
                        <button data-id={{user.id}} id="follow-btn" class="btn btn-outline-danger">Unfollow</button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    
    <!----- PROFILE POSTS ------> 
    <div id="allposts-div" class="d-inline-flex flex-column w-100">
        {% for post in page.object_list %}
            <hr>
                {% if request.user == post.user %}
                    <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center">
                        <div class="edit w-100">
                            {% if post.edited %}
                                <span>edited</span>
                            {% else %}
                                <span></span>
                            {% endif %}
                            <i class="edit-icon material-icons material-symbols-outlined md-24">edit_note</i> 
                        </div>
                {% else %}
                        {% if post.edited %}
                            <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center">
                                <div class="edit w-100">
                                    <span>edited</span>
                                </div>
                        {% else %}
                            <div data-id={{post.id}} class="box w-100 d-inline-flex flex-column align-items-center pt-32">
                                <div class="edit w-100">
                                    <span></span>
                                </div>
                        {% endif %}
                {% endif %}
                <div class="w-100 d-inline-flex p-2 flex-row align-items-center">
                    <a href="/profile/{{post.user.username}}">
                        <div class="infos-post">
                            <div id="post-logo"><img src={{post.user.img_url}}/></div>
                            <span class="">{{post.user.username}}</span>
                        </div>
                    </a>
                    <div class="post-content p-3">
                        <p>{{post.content}}</p>
                    </div>
                </div>
                <div class="like w-100">
                    <span class="qtd_likes">
                        {% if qtd_likes|get_item:post.id > 0 %}
                            {{qtd_likes|get_item:post.id}}
                        {% endif %}
                    </span>
                    {% if post.id in liked_ids %}
                        <i class="like-icon material-icons material-symbols md-24">favorite</i>
                    {% else %}
                        <i class="like-icon material-icons material-symbols-outlined md-24">favorite</i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="page-links">
            {% if page.has_previous %}
                <a href="/profile/{{user}}?page={{page.previous_page_number}}">Previous</a>
            {% endif %}
            {% if page.has_next %}
                <a href="/profile/{{user}}?page={{page.next_page_number}}">Next</a>
            {% endif %}
        </div>
        <hr>
    </div>
    
</div>
    
{% endblock %}